@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LDS Movies</h1>
    <p>We're here for all of your LDS movie needs! Click on the LDS Movies link to get started.</p>
    <img class="dvd-img" title="Movie" src="https://m.media-amazon.com/images/M/MV5BMTI4NzQ1OTMyNV5BMl5BanBnXkFtZTYwMTE1NzQ3._V1_UY1200_CR92,0,630,1200_AL_.jpg" />
    <img class="dvd-img" title="Movie" src="https://upload.wikimedia.org/wikipedia/en/thumb/1/11/The_Other_Side_of_Heaven_theatrical_poster.png/220px-The_Other_Side_of_Heaven_theatrical_poster.png" />
    <img class="dvd-img" title="Movie" src="https://upload.wikimedia.org/wikipedia/en/1/17/Meet_the_Mormons_poster.jpg" />
</div>
