@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LDS Movies</h1>
    <p>We're here for all of your LDS movie needs! Click on the LDS Movies link to get started.</p>
</div>
